*{
    margin:0;
    padding:0;
}


.cabecalho{
    background-color: #eecce58f;
    color:blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    }
   
    .cabecalho-imaguem{
width:20%

    }
    .cabecalho-lista-item{
        display:inline-block;
        margin: 0 16px;
        font-size:24px;
 }
 .escola-imagem {
width:25%;
}

.escola{ 
    background-image: linear-gradient(#424e61,#4EFBE9);
}

 }
 .estudante-imaguem{
    width: 120px;
 }